<footer class="container">
    <hr class="soften">
    <p>
        {{- partial "copyright.html" . -}}
    </p>

    <script src="https://public.bnbstatic.com/unpkg/growth-widget/cryptoCurrencyWidget@0.0.19.min.js" ></script><div class="binance-widget-marquee" data-cmc-ids="1,1027,52,5426,74,1958,11419,24478,5690,13502" data-theme="dark" data-transparent="false" data-locale="en" data-fiat="USD" ></div>
    </br>

    <p>
        Bitcoin: bc1qzumgrjv2jjnxphny56246kjc9qur3uj5x95kzr
        Monero: 4B7QhZcqMCMGCy7Fe9ifEjKCTXLs6UUpa9UAgQPDdenBMCk3oNKpSh313GTqKphu5uX5wgpyHAQ1kXEyH7ma7N9N8EKFxcV
        Solana: wc94DzEAtsKofkx4EDjNwU3tvkHvPnGJAXgNJVpUtSK
    </p>
    <p class="text-center">
        {{ with .Site.Params.facebook }}<a href="{{ . }}">Facebook</a> | {{ end }}
        {{ with .Site.Params.telegram }}<a href="{{ . }}">Telegram</a> | {{ end }}
        {{ with .Site.Params.twitter }}<a href="{{ . }}">Twitter</a> | {{ end }}
        {{ with .Site.Params.linkedin }}<a href="{{ . }}">Linkedin</a> | {{ end }}
        {{ with .Site.Params.github }}<a href="{{ . }}">GitHub</a> | {{ end }}
        {{ with .Site.Params.gitlab }}<a href="{{ . }}">GitLab</a> | {{ end }}
        {{ with .Site.Params.discord }}<a href="{{ . }}">Discord</a>{{ end }}
    </p>

    <script>
            const targetClass = "binance-widget__footer"; 
            
            const observer = new MutationObserver(() => {
                const element = document.querySelector(`.${targetClass}`);
                if (element) {
                    console.log("Elemento encontrado! Removendo...");
            
                    element.remove();
                    observer.disconnect();
                }
            });
            
            observer.observe(document.body, { childList: true, subtree: true });
    </script>
    
    
</footer>

