<footer class="container">
    <hr class="soften">
    <p>
        {{- partial "copyright.html" . -}}
    </p>

    <script src="https://public.bnbstatic.com/unpkg/growth-widget/cryptoCurrencyWidget@0.0.19.min.js" ></script><div class="binance-widget-marquee" data-cmc-ids="1,1027,52,5426,74,1958,11419,24478,5690,13502" data-theme="dark" data-transparent="false" data-locale="en" data-fiat="USD" ></div>
    
    <p class="text-center">
        {{ with .Site.Params.facebook }}<a href="{{ . }}">Facebook</a> | {{ end }}
        {{ with .Site.Params.telegram }}<a href="{{ . }}">Telegram</a> | {{ end }}
        {{ with .Site.Params.twitter }}<a href="{{ . }}">Twitter</a> | {{ end }}
        {{ with .Site.Params.linkedin }}<a href="{{ . }}">Linkedin</a> | {{ end }}
        {{ with .Site.Params.github }}<a href="{{ . }}">GitHub</a> | {{ end }}
        {{ with .Site.Params.gitlab }}<a href="{{ . }}">GitLab</a> | {{ end }}
        {{ with .Site.Params.discord }}<a href="{{ . }}">Discord</a>{{ end }}
    </p>

    <script>
        document.addEventListener("readystatechange", () => {
            if (document.readyState === "complete") {
                console.log("Documento completamente carregado.");
                
                // Remover a div com a classe 'binance-widget__footer'
                const element = document.querySelector(".binance-widget__footer");
                if (element) {
                    element.remove();
                    console.log("Elemento removido com sucesso.");
                } else {
                    console.log("Elemento não encontrado.");
                }
            }
        });
    </script>
    
    
</footer>

